name: Build

on:
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [12.x]
    
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm install
    - name: Build single script
      run: npm run build
    - name: Minify
      run: npm run minify
    - name: Commit bundled and minified files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Add bundled and minified files from CI" -a  || echo "Nothing to update"
    - name: Push changes to branch that initiated PR
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

      env:
        CI: true
